Loop&foreach/pipeline/variabletesting_copy1.json
{
	"name": "variabletesting_copy1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Files",
					"value": [
						"colors",
						"inventories",
						"inventory_parts",
						"part_categories",
						"parts",
						"sets",
						"themes"
					]
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.LoadAlllFiles",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Append Inventory sets",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Files",
								"value": "inventory_sets"
							}
						},
						{
							"name": "Append Part Relationship",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Files",
								"value": "part_relationships"
							}
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Files')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Lego_Copy_Themes_HTTP_ADLS_copy1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FileName": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"LoadAlllFiles": {
				"type": "bool"
			}
		},
		"variables": {
			"Files": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Loop Demo"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-08T11:32:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}